<main>
    <body [ngClass]="{ 'winner-style': winner, 'cagao-style': cagao }" (click)="onBodyClick()">
        <h5 [ngClass]="{ 'large-name': large }">{{ titulo }}</h5>
        <div>
            <span>{{ spanText }}</span>
            <p>{{ comodines }}</p>
            <img *ngIf="winner" src="https://i.imgur.com/j9Z3ElZ.png" class="mission">
        </div>
        <img *ngIf="cagao" src="https://i.imgur.com/2XyLWg9.png" class="cagao">
        <img *ngIf="winner" src="https://i.imgur.com/I3APTXG.png" class="nowaying">
        <img *ngIf="joan" src="https://i.imgur.com/GYfjiJq.png" class="guarroman">
        <img [src]="imagen" class="concursante">
    </body>
</main>
